.price-tag {
  display: inline-block;
  width: auto;
  height: 60px;
  background-color: #6ab070;
  text-align: center;
  vertical-align: center;
  -webkit-border-radius: 3px 4px 4px 3px;
  -moz-border-radius: 3px 4px 4px 3px;
  border-radius: 3px 4px 4px 3px;
  border-left: 1px solid #6ab070;
  position: relative;
  color: white;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  padding: 0 10px;

  &-text{
    margin: 0 !important;
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    left: -30px;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 30px solid #6ab070;
  }
}
